.product-product .photo img {
	max-width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.right-info-product {
	width: 60%;
	padding-left: 10px;
	float: left;
	padding-top: 50px;
	text-align: left;
}
.left-info-product {
	width: 40%;
	padding-left: 10px;
	float: left;
	padding-top: 50px;
}
.name-info-info  {
	font-size: 30px;
	color: black;

}
.price .name-info-info-price {
	padding-top: 20px;
	font-size: 20px;
	color: black;
	padding-bottom: 20px;
}
.title-product {
	font-size: 20px;
	color: black;
	padding-bottom: 10px;
	padding-top: 20px;
}
.product-details-Created-date {
	font-size: 20px;
	color: black;
}
/*h3{
	float: left;
	width: 50%;
}
.name-product .price {
	float: left;
	width: 40%;
}
.value-info {
	float: right;
	width: 60%;
	padding-left: 10px;
	display: inline-flex;
}
.info{
	float: left;
	width: 100%;
}*/

.product-form label {
	float: left;
	padding-right: 10px;
}